eval "$(/opt/homebrew/bin/brew shellenv)"

{% for path in extra_path_entries %}
export PATH="{{ path }}:$PATH"
{% endfor %}

{% if shell_env_vars is defined %}
{% for item in shell_env_vars %}
export {{ item.name }}="{{ item.value }}"
{% endfor %}
{% endif %}

{% for item in shell_aliases %}
alias {{ item.alias }}='{{ item.command }}'
{% endfor %}

{% if shell_extras is defined %}
{% for item in shell_extras %}
# {{ item.name }}
{% if item.line is defined %}
{{ item.line }}
{% endif %}
{% if item.lines is defined %}
{% for line in item.lines %}
{{ line }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

# NOTE: API keys (FMP_API_KEY, etc.) should be added manually
# or sourced from a separate file not tracked in git:
#   [ -f ~/.zshrc.secrets ] && source ~/.zshrc.secrets
